body{
    text-align: center;
}
p{
    text-align: left;
    color: white;
}
h1, h2{
    color: red;
}
p{
    border-style: solid;
    border-color: black;
    background-color: gray;
}
.a1{
    color: white;
    border-style: solid;
    border-color: black;
    background-color: gray;
    border-radius: 25px;
    padding: 10px;
}
.lien{
    color: blue;
}

p{

    border-radius: 25px;
    padding: 10px;
}
img{
float: left;
}