body{
    font-family: "Century Gothic", Georgia, 'Times New Roman', Times, serif;
}
div{
    font-weight: bold;
    color: #FFFF00;
}
span{
    text-align: center;
    background-color: RGBa(202, 184, 187, 1);
    color: #FFA900;
}
h1{
    font-size: 100px;
    font-style: italic;
    font-weight: lighter;
}
p{
    font-size: 50%;
}